<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>


<% if mentor?(user) %>
  <br />
  <% if !user.project_mentorships.empty? %>
    <h3>Projects mentored by <%=h user.login %></h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Proposed by</th>
          <th />
        </tr>

      <% user.project_mentorships.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %>
          <td><%= link_to_user project.proposer %></td>
          <td>
          <% if can_edit_project?(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
          <% if can_delete_project?(project) %>
          <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
      <br />
    	<%= render :partial => "proposals/list", :locals => { :proposals => user.proposal_mentorships }%>	
    
  <% else %>
    <h3>Not mentoring any projects</h3>
  <% end %>
<% end %>

<% if student?(user) && can_view_user_proposal_list?(user) %>
<br />
    	<%= render :partial => "proposals/list", :locals => { :proposals => user.proposals }%>	  
<% end %>  
  
<% if student?(user) %>
  <br />
  <% if user.project %>
    <h3><%=h user.login %> is student for project</h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Mentor</th>        
        </tr>

        <tr>
          <td><%= link_to user.project.name, user.project %>
          <td><%= user.project.mentor ? link_to_user(user.project.mentor): "Nobody" %></td>        
          <td>
          <% if can_edit_project?(user.project) %>
            <%= link_to 'Edit', edit_project_path(user.project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(user.project) && can_delete_project?(user.project) %>
          <% if can_delete_project?(user.project) %>
          <%= link_to 'Delete', user.project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
    </table>
  <% else %>
    <h3>Not student for any projects</h3>
  <% end %>
<% end %>

<br />
<% if !user.project_proposals.empty? %>
  <h3>Projects proposed by <%=h user.login %></h3>
		<table id="hor-minimalist-a">
      <tr>
        <th>Name</th>
        <th>Mentor</th>
        <th />        
      </tr>

    <% user.project_proposals.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %>
        <td><%= project.mentor ? link_to_user(project.mentor): "Nobody" %></td>
        <td>
        <% if can_edit_project?(project) %>
          <%= link_to 'Edit', edit_project_path(project) %>
        <% end %>
        <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
        <% if can_delete_project?(project) %>
        <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>Haven't proposed any projects</h3>
<% end %>
