<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>


<div class="post">
	<h2 class="title">Comments on <%=h @comment.project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<table id="hor-minimalist-a">
   <% @project = Project.find(params[:project_id]) %>
   <% if @comments.empty?  %>
   <b> No comments have been posted yet. </b>
   
   <% else %>
	 <tr>
		<% @comments.each do |comment| %>
 		<tr>
 		<% @user = User.find(comment.author_id) %>
    		<b><%=link_to_user @user%></b> [<%= comment.created_at %>] 
    		<% if can_delete_comment? %>
    			<%= link_to 'Delete', project_comment_path(@project, comment), :confirm => 'Are you sure?', :method => :delete %>
    		<% end %>
    		
    		<br> 
    		
    		<%=h comment.content %>  
    		<hr>
    		</tr>
		<% end %>    
		
  	</tr>
   <% end %>
</table>

<br />
<p class="links">
<%= link_to 'New comment', new_project_comment_path(@comment.project) %> | 
<%= link_to 'Back to Project', project_path(@comment.project) %>
</p>
</div>
</div>
