<%
#--
#   Copyright (C) 2010 Gaurav Menghani <gaurav.menghani@gmail.com>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
<h2 class="title">Comments on <%=h @comment.project.name %></h2>
<p class="meta"><span class="date">&nbsp;</span></p>
<div style="clear: both;">&nbsp;</div>
<div class="entry">

<table id = "hor-minimalist-a">   
  <% if @comments.empty?  %>
  <b> No comments have been posted yet. </b>
   
  <% else %>	 
  <% @comments.each do |comment| %>
    <tr>
	  <th>
        <% @user = User.find(comment.user_id) %>
        <b><%=link_to_user @user%></b> <small>Posted On: [<%= (comment.created_at).inspect %>] </small>
	  </th>
    </tr>
	<tr>
	  <td>	
        <%=h comment.content %> 
		<br>
		<small>
		  <%if can_edit_comment?(comment) %>
		  <%= link_to 'Edit', edit_project_comment_path(@project,comment) %> |
			
		  <% end %>
			<% if can_delete_comment?(comment) %>
    			<%= link_to 'Delete', project_comment_path(@project, comment), :confirm => 'Are you sure?', :method => :delete %> |
    		<% end %> 
			
			Last Updated: [<%= (comment.updated_at).inspect %>]
		</small>
    	<br><br>
    	
	</td>
  	</tr>
	<% end %>    
  <% end %>
</table>

<br/>
<p class="links">
  <%= link_to 'New comment', new_project_comment_path(@comment.project) %> | 
  <%= link_to 'Back to Project', project_path(@comment.project) %>
</p>
</div>
</div>
