<li
  <%= highlighted if highlight == "dashboard" -%>
><a href="/">Dashboard</a></li>

<li
  <%= highlighted if highlight == "projects" -%>
><a href="/projects">Projects</a></li>

<li
  <%= highlighted if highlight == "users" -%>
><a href="/users">Users</a></li>

<li
  <%= highlighted if highlight == "calender" -%>
><a href="/calender">Calender</a></li>

<li
  <%= highlighted if highlight == "about" -%>
><a href="/about">About FSoC</a></li>

