<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Indication  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090910

-->


<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Projects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
</head><body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">fsoc</a></h1>
			<p>Four Seasons of Code</p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Dashboard</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Calender</a></li>
			<li><a href="#">About FSoC</a></li>
			
			
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
		<p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
			<!--div class="post">
				<h2 class="title"><a href="#">Welcome to Indication   </a></h2>
				<p class="meta"><span class="date">September 10, 2009</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>This is <strong>Indication  </strong>, a free, fully standards-compliant CSS template designed by FreeCssTemplates<a href="http://www.nodethirtythree.com/"></a> for <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.  This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a>
license, so you’re pretty much free to do whatever you want with it
(even use it commercially) provided you keep the links in the footer
intact. Aside from that, have fun with it :)</p>
					<p>Sed lacus.
Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla
tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper
urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros.
Suspendisse lacus turpis, cursus egestas at sem.</p>
					<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
				</div>
			</div-->
			
			
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<!--div id="search">
					<form action="#" method="get">
						<div>
							<input type="text" value="" id="search-text" name="s"/>
							<input type="submit" value="GO" id="search-submit"/>
						</div>
					</form>
					</div-->
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>Welcome</h2>
					<p>Guest</p>
				</li>
				<li>
					<h2>Recent Projects</h2>
					<!--ul>
						<li><a href="#">Aliquam libero</a></li>
					</ul-->
				</li>
				
				
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2010 Shreyank Gupta. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end #footer -->
</body></html>
