<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title"><%=h @user.login %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<h3>User type: <%=h @user.user_type %></h3>
<br />
<p>
  <b>Name:</b>
  <%=h dash @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h sanitize @user.email %>
</p>

<p>
  <b>Webpage/Blog:</b>
  <br />
    <%= devide_link @user.webpage %>
</p>

<p>
  <b>Contact on IRC:</b>
  <br />
  <%=h dash [@user.irc_nick, 'on', @user.irc_channels] %>
</p>
        
<p>
  <b>Institute/Organisation:</b>
  <%=h dash @user.org %>
</p>
        
<p>
  <b>About me:</b>
  <br />
  <%=h dash @user.bio %> 
</p>

<% if !@user.project_proposals.empty? %>
  <br />
  <h3>Projects proposed by <%=h @user.login %></h3>
		<table id="hor-minimalist-a">
      <tr>
        <th>Name</th>
        <th>Mentor</th>
        <th />        
      </tr>

    <% @user.project_proposals.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %>
        <td><%=h project.mentor ? project.mentor.login: "Nobody" %></td>
        <td>
        <% if can_edit_project?(project) %>
          <%= link_to 'Edit', edit_project_path(project) %>
        <% end %>
        <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
        <% if can_delete_project?(project) %>
        <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if mentor?(@user) %>
  <br />
  <% if !@user.project_mentorships.empty? %>
    <h3>Projects mentored by <%=h @user.login %></h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Proposed by</th>
          <th />
        </tr>

      <% @user.project_mentorships.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %>
          <td><%=h project.proposer.login %></td>
          <td>
          <% if can_edit_project?(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
          <% if can_delete_project?(project) %>
          <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>Not mentoring any projects</h3>
  <% end %>
<% end %>

<% if student?(@user) %>
  <br />
  <% if !@user.project_internships.empty? %>
    <h3><%=h @user.login %> is student for project</h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Proposed by</th>
          <th>Mentor</th>        
        </tr>

      <% @user.project_mentorships.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %>
          <td><%=h project.proposer.login %></td>
          <td><%=h project.mentor ? project.mentor.login: "Nobody" %></td>        
          <td>
          <% if can_edit_project?(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
          <% if can_delete_project?(project) %>
          <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>Not student for any projects</h3>
  <% end %>
<% end %>

<p class="links">
<% if logged_in? and @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
  <%= link_to 'Back to users', users_path %>
</p>

	</div>
</div>
