<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title"><%=h @user.login %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<h3>User type: <%=h @user.user_type %></h3>
<br />
<p>
  <b>Name:</b>
  <%=h dash @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h sanitize @user.email %>
</p>

<p>
  <b>Webpage/Blog:</b>
  <br />
    <%= devide_link @user.webpage %>
</p>

<p>
  <b>Contact on IRC:</b>
  <br />
  <%=h dash [@user.irc_nick, ' on ', @user.irc_channels] %>
</p>
        
<p>
  <b>Institute/Organisation:</b>
  <%=h dash @user.org %>
</p>
        
<p>
  <b>About me:</b>
  <br />
  <%=h dash @user.bio %> 
</p>

<p class="links">
<% if logged_in? and @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
  <%= link_to 'Back to users', users_path %>
</p>

<hr>

	<%= render :partial => "dashboard/dashboard", :locals => { :user => @user }%>	

	</div>
</div>
