<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title"><%=h @project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<p>
  <b>Project Definition:</b>
  <br />
  <%=h @project.definition %>
</p>

<p>
  <b>URLs:</b>
  <br />
    <%= devide_link @project.urls %>
</p>
<p>
 <b>Mentor:</b>
    <%= @project.mentor ? link_to_user(@project.mentor): 'Nobody' %>
    <% if mentor? %>
       <%= link_to '(Resign as Mentor)', resign_project_path(@project) if (@project.mentor == current_user && @project.students.empty?)%>
       <%= link_to '(Volunteer as Mentor)', volunteer_project_path(@project) if !@project.mentor %>
    <% end %>
</p>
<p>
  <b>Proposed by:</b> <%= link_to_user @project.proposer %>
</p>
<p>
  <b>Estimated Time:</b> <%=h @project.eta %> days
</p>

<%= render :partial => "tasks/list", :locals => { :project => @project, :tasks => @tasks }%>

	<p class="links">
	<% if can_add_task?(@project) %>
	  <%= link_to 'Add task', new_project_task_path(@project) %> |
	<% end %>
	<% if can_edit_project?(@project) %>
	  <%= link_to 'Edit project', edit_project_path(@project) %> |
	<% end %>
	<% if can_add_proposal?(@project) %>
	  <%= link_to 'Write a proposal', new_project_proposal_path(@project) %> |
	<% end %>		
    <%= link_to 'Discuss', project_comments_path(@project) %> |
    <%= link_to 'Back to projects', projects_path %>
  </p>

<hr />
  <br />
  <% if can_view_proposal_list?(@project) || student? %>
	  <%= render :partial => "proposals/list", :locals => { :proposals => @proposals }%>	
  <% else %>
    <h3>You are not authorised to view the proposals list</h3>
  <% end %>
	</div>
</div>
