<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title"><%=h @project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<p>
  <b>Project Definition:</b>
  <br />
  <%=h @project.definition %>
</p>

<p>
  <b>URLs:</b>
  <br />
    <%= devide_link @project.urls %>
</p>
<p>
 <b>Mentor:</b>
    <%= @project.mentor ? link_to_user(@project.mentor): 'Nobody' %>
    <% if mentor? %>
       <%= link_to '(Resign as Mentor)', :action => 'resign', :id => @project.id if (@project.mentor == current_user && @project.students.empty?)%>
       <%= link_to '(Volunteer as Mentor)', :action => 'volunteer', :id => @project.id if !@project.mentor %>
    <% end %>
</p>
<p>
  <b>Proposed by:</b> <%= link_to_user @project.proposer %>
</p>
<p>
  <b>Estimated Time:</b> <%=h @project.eta %> days
</p>

<p>  
  <% if can_view_task_list?(@project) %>
    <% if !@tasks.empty? %>
      <h3>Atomic Tasks for <%=h @project.name %> </h3>
      <br />
      <table id="hor-minimalist-a">
        <tr>
          <th>Task</th>
        <% if @project.students.empty? %>
          <th>Estimated time</th>
        <% else %>        
          <th>Student</th>
          <th>Expected<br /> delivery date</th>
        <% end %>
          <th />
        </tr>

        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, project_task_path(@project, task) %></td>
          <% if @project.students.empty? %>
            <td><%=h task.eta %> days</td>
          <% else %>            
            <td>
              <% if task.student %>           
                <%= link_to_user task.student %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if task.student %>           
                <%=h task.end_date.to_formatted_s(:long) %>
              <% else %>
                -
              <% end %>            
            </td>
          <% end %>
            <td>
              <% if can_edit_task?(task) %>
                <%= link_to 'Edit', edit_project_task_path(@project, task) %> |
                <% if task.student %>
                  <%= link_to 'Unallocate', unallocate_project_task_path(@project, task), :confirm => 'Are you sure?' %>
                <% else %>
                  <%= link_to 'Delete', project_task_path(@project, task), :confirm => 'Are you sure?', :method => :delete %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
       </table>     
    <% else %>
      <b> - Empty tasks list - </b>
    <% end %>
  <% else %>
    <b>You are not authorised to view the tasks list</b>
  <% end %>
</p>

	<p class="links">
	<% if can_add_task?(@project) %>
	  <%= link_to 'Add task', new_project_task_path(@project) %> |
	<% end %>
	<% if can_edit_project?(@project) %>
	  <%= link_to 'Edit project', edit_project_path(@project) %> |
	<% end %>
	<% if can_add_proposal?(@project) %>
	  <%= link_to 'Write a proposal', new_project_proposal_path(@project) %> |
	<% end %>		
    <%= link_to 'Discuss', project_comments_path(@project) %> |
    <%= link_to 'Back to projects', projects_path %>
  </p>

<hr />
  <br />
<% if can_view_proposal_list?(@project) || student? %>
  <% if !@proposals.empty? %>

    <h3>Listing student proposals</h3>
      <br >
      <table id="hor-minimalist-a">
        <tr>
          <th>Student</th>
          <th>Proposal</th>
          <th>Status</th>
          <th />
        </tr>

      <% @proposals.each do |proposal| %>
        <tr>
          <td><%= link_to_user proposal.student %>
          <td><%= link_to truncate(proposal.proposal_text, 45, '...'), project_proposal_path(@project, proposal) %></td>
          <td><%=h proposal.status.humanize %>
          <td>
            <% if can_edit_proposal?(proposal) %>
              <%= link_to 'Edit', edit_project_proposal_path(@project, proposal) %> | 
              <%= link_to 'Delete', project_proposal_path(@project, proposal), :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
            <% if can_accept_proposal?(proposal) %>
              <%= link_to verb(proposal), allocate_project_proposal_path(@project, proposal) %>
              <% if proposal.status == 'pending' %>                
                | <%= link_to 'Reject', reject_project_proposal_path(@project, proposal) %>
              <% end %>
            <% end %>
          </td>           
        </tr>
      <% end %>
    </table>
  <% else %>
    <% if (current_user.project) %>
      <h3>You cannot submit proposals for this project </h3>
    <% else %>
      <h3>Empty proposals list</h3>
    <% end %>
  <% end %>
<% else %>
  <h3>You are not authorised to view the proposals list</h3>
<% end %>

	</div>
</div>
