<div class="post">
	<h2 class="title">Listing projects</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<table id="hor-minimalist-a">
  <tr>
    <th>Name</th>
    <th>Proposed by</th>
    <th>Mentor</th>
    <th>Estimated Time <br />(in days)</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %>
    <td><%=h project.proposer.login %></td>
    <td><%=h project.mentor_user ? project.mentor_user.login: "Nobody" %></td>
    <td><%=h project.eta %></td>
    <% if logged_in? %>
    <td><%= link_to 'Edit', edit_project_path(project) %> | 
    <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
  <% if logged_in? %>
		<p class="links"><%= link_to 'New project', new_project_path %></p>
  <% end %>		
	</div>
</div>
