<div class="post">
	<h2 class="title"><%=h @project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<p>
  <b>Project Definition:</b>
  <br />
  <%=h @project.definition %>
</p>

<p>
  <b>URLs:</b>
  <br />
    <%= devide_link @project.urls %>
</p>
<p>
 <b>Mentor:</b>
    <%=h @project.mentor ? @project.mentor.login: 'Nobody' %>
    <% if mentor? %>
       <%= link_to '(Resign as Mentor)', :action => 'resign', :id => @project.id if @project.mentor == current_user %>
       <%= link_to '(Volunteer as Mentor)', :action => 'volunteer', :id => @project.id if !@project.mentor %>
    <% end %>
</p>
<p>
  <b>Proposed by:</b> <%=h @project.proposer.login %>
</p>
<p>
  <b>Estimated Time (in days):</b> <%=h @project.eta %>
</p>
<% if !@project.proposals.empty? %>
  <br /><br >
  <h3>Listing proposals</h3>

    <table id="hor-minimalist-a">
      <tr>
        <th>Student</th>
        <th>Proposal</th>
      </tr>

    <% @project.proposals.each do |proposal| %>
      <tr>
        <td><%= link_to_user proposal.student %>
        <td><%= link_to truncate(proposal.proposal_text, 50, '...'), project_proposal_path(@project, proposal) %></td>
        <td><%= link_to 'Edit', edit_project_proposal_path(@project, proposal) %></td>
        <td><%= link_to 'Delete', project_proposal_path(@project, proposal), :confirm => 'Are you sure?', :method => :delete %></td>        
      </tr>
    <% end %>
  </table>
<% end %>

	<p class="links">
	<% if can_edit_project?(@project) %>
	  <%= link_to 'Edit', edit_project_path(@project) %> |
	<% end %>
	<% if student? %>
	  <%= link_to 'Write a proposal', new_project_proposal_path(@project) %> |
	<% end %>		
    <%= link_to 'Back to projects', projects_path %>
  </p>

	</div>
</div>
