<div class="post">
	<h2 class="title"><%=h @project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">

<p>
  <b>Project Definition:</b>
  <br />
  <%=h @project.definition %>
</p>

<p>
  <b>URLs:</b>
  <br />
  <% @project.urls.split(',').each do |link| %>
    <%= link_to link, link, :popup => true -%><br />
  <% end %>
  
</p>
<p>
 <b>Mentor:</b>
    <% if @project.mentor %>
      <%=h @project.mentor_user.login %> <%= link_to '(Resign as Mentor)', :action => 'resign', :id => @project.id if mentor? %>
    <% else %>
      Nobody <%= link_to '(Volunteer as Mentor)', :action => 'volunteer', :id => @project.id if mentor? %>
<% end %>
</p>
<p>
  <b>Proposed by:</b> <%=h @project.proposer.login %>
</p>
<p>
  <b>Estimated Time (in days):</b> <%=h @project.eta %>
</p>

		<p class="links">
		<% if logged_in? %>
		  <%= link_to 'Edit', edit_project_path(@project) %> |
		<% end %>
      <%= link_to 'Back to projects', projects_path %>
    </p>
		
	</div>
</div>
