<%
#--
#   Copyright (C) 2010 Shreyank Gupta <sgupta@REDHAT.COM>
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>

<div class="post">
	<h2 class="title">New proposal for <%=h @proposal.project.name %></h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
<% form_for @proposal, :url => project_proposals_url do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :student_id, :value => current_user.id %>
    <%= f.hidden_field :project_id, :value => @proposal.project.id %>
    <p>
      <b>Proposed by:</b> <%=h current_user.login %>
    </p>

    <p>
      <b><%= f.label :proposal_text %></b><br />
      <%= f.text_area :proposal_text %>
    </p>
    
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

	</div>
</div>
