<div class="post">
	<h2 class="title"><%=h current_user.user_type.capitalize %> Dashboard</h2>
	<p class="meta"><span class="date">&nbsp;</span></p>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
<% if !current_user.project_proposals.empty? %>
  <br />
  <h3>Projects proposed by you</h3>
		<table id="hor-minimalist-a">
      <tr>
        <th>Name</th>
        <th>Mentor</th>
      </tr>

    <% current_user.project_proposals.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %>
        <td><%=h project.mentor ? project.mentor.login: "Nobody" %></td>
        <td><%=h project.eta %></td>
        <td>
        <% if can_edit_project?(project) %>
          <%= link_to 'Edit', edit_project_path(project) %>
        <% end %>
        <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
        <% if can_delete_project?(project) %>
        <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if admin? %>
  <br />
  <p>/* under construction */</p>
<% end %>

<% if mentor? %>
  <br />
  <% if !current_user.project_mentorships.empty? %>
    <h3>Projects mentored by you</h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Proposed by</th>
        </tr>

      <% current_user.project_mentorships.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %>
          <td><%=h project.proposer.login %></td>
          <td><%=h project.eta %></td>
          <td>
          <% if can_edit_project?(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
          <% if can_delete_project?(project) %>
          <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>Not mentoring any projects</h3>
  <% end %>
<% end %>

<% if student? %>
<br />
  <% if !current_user.proposals.empty? %>
    <h3>You have submitted the following proposals</h3>
     <table id="hor-minimalist-a">
        <tr>
          <th>Project</th>
          <th>Proposal</th>
        </tr>

      <% current_user.proposals.each do |proposal| %>
        <tr>
          <td><%= link_to proposal.project.name, proposal.project %>
          <td><%= link_to truncate(proposal.proposal_text, 50, '...'), project_proposal_path(proposal.project, proposal) %></td>
          <% if can_edit_proposal?(proposal) %>
            <td><%= link_to 'Edit', edit_project_proposal_path(proposal.project, proposal) %></td>
            <td><%= link_to 'Delete', project_proposal_path(proposal.project, proposal), :confirm => 'Are you sure?', :method => :delete %></td>        
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>Not student for any projects</h3>
  <% end %>
  <br />
  <% if !current_user.project_internships.empty? %>
    <h3>You are student for project</h3>
		  <table id="hor-minimalist-a">
        <tr>
          <th>Name</th>
          <th>Proposed by</th>
          <th>Mentor</th>        
        </tr>

      <% current_user.project_mentorships.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %>
          <td><%=h project.proposer.login %></td>
          <td><%=h project.mentor ? project.mentor.login: "Nobody" %></td>        
          <td><%=h project.eta %></td>
          <td>
          <% if can_edit_project?(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
          <% end %>
          <%= ' | ' if can_edit_project?(project) && can_delete_project?(project) %>
          <% if can_delete_project?(project) %>
          <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>Not student for any projects</h3>
  <% end %>
<% end %>
		
	</div>
</div>

